
.firstLevel {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 20px;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
}
.firstLevelActive,
.firstLevel:hover {
    color: var(--primary);
}
.secondLevel {
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: rgb(77, 68, 68);
}
.secondBlock {
    margin-top: 15px;
    margin-left: 13px;
    padding-left: 32px;

    border-left: 1px solid #DFDFDF;
}
.secondLevelBlock {
    display: none;
}
.secondLevelBlockOpen {
    display: block;
}
.secondLevelBlockOpen:last-child {
    margin-bottom: 20px;
}

.thirdLevel {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    color: var(--gray-dark);
    font-size: 14px;
}
.thirdLevelActive,
.thirdLevel:hover {
    color: var(--primary);
}